fastapi
uvicorn[standard]
langchain 
langchain-core 
langchain-community 
langchain-groq 
langchain-google-genai 
langgraph 
supabase 
pypdf 
python-dotenv 
python-multipart 
numpy 
scipy 
rank-bm25 
pytest 
pytest-asyncio 
httpx
sentence-transformers 
langchain-huggingface
langchain-ollama
python-docx
deepeval
